body {
	font-family: 'Roboto', sans-serif;
	transition: all 0.5s;
}
p {
	margin-bottom: 0px;
	font-size: 14px;
	color: #6a6a6a;
	line-height: 25px;
}
a.main-button {
	outline: none;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0px 25px;
	border: none;
	margin-left: 10px;
	background-color: #00bcd4;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	transition: all 0.5s;
}
a.main-button:hover {
	background-color: #00a4b9;
}
a.gradient-button {
	outline: none;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0px 25px;
	border: none;
	margin-left: 10px;
	background: rgb(114,2,187);
    background: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%);
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	transition: all 0.5s;
}
a.gradient-button:hover {
	background: rgb(114,2,187);
    background: linear-gradient(145deg, rgba(50,100,245,1) 0%, rgba(114,2,187,1) 100%);
}